aiohttp==3.12.14
asyncio==3.4.3
discord.py==2.6.3
groq==0.31.0
numpy==2.3.2
onnxruntime==1.22.1
pandas==2.3.1
Quart==0.20.0
requests==2.32.4
tinydb==4.8.2
transformers==4.45.2
vaderSentiment==3.3.2
hikari==2.3.5
beautifulsoup4==4.12.2
pymongo==4.15.3
motor==3.7.1
ddgs==9.6.1
trafilatura==2.0.0
